
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior:smooth;

  

}
body {
  color: rgb(245, 245, 245);
  cursor: inherit;
  background-color:#141414;  
}


li {
  list-style-type: none;
  
}

a {
  text-decoration: none;
  color: inherit;
 
}

button {
  cursor: pointer;
}
.click {
  cursor: pointer;
  transition: all 300ms ease
}

.click:hover {
  transform: scale(1.1);
}

.click:active {
  transform: scale(.8);
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}
.row{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1700px;
}
.section__title--wrapper{
  padding-bottom: 96px ;

}
.section__title{
  font-family:'Allura' , sans-serif;
  font-size: 66px;
  color: aliceblue;
}


/* Navigation Bar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1800px;
  margin: 15px auto;
  padding: 0 20px;
  position: fixed;
  z-index: 50;
  font-family: 'Allura' ,sans-serif;
  background-color: transparent;

}

.nav__logo--wrapper,
.footer__logo--wrapper{
  display: flex;
  align-items: center;
  justify-content: center;

}

.nav__logo--image{
  width: 100%;
  height: 80%;
} 

.nav__list--links{
    display: flex;
    align-items: center;
    font-size: 36px;
    color: rgb(245, 245, 245)

}
.nav__list--link{
    margin: 0 22px;
}

.link__primary {
  background-color: transparent;
  padding: 6px 14px;
  border: 2px solid rgb(245, 245, 245);
  border-radius: 5px;

}

.link__primary:hover {
  background-image: radial-gradient(rgb(245, 187, 187), rgb(235, 82, 82));
  border-color:rgb(234, 43, 42);
  box-shadow: 0 0 10px rgb(235, 82, 82);
}



.link__hover--effect {
  position: relative;
}

.link__hover--effect::after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  transition: all 300ms ease;
}

.link__hover--effect:hover::after {
  left: 0;
  width: 100%;
}

/* Banner */

#Banner{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.banner__background--wrapper{
 display: flex;
 width: 100vw;
 height: 100vh;
 background-image: linear-gradient(transparent ,  #141414 , rgb(20, 20, 20));
 z-index: 20;
 
}

.banner__background--video{
  
  /* overflow: hidden; */
  border-color: transparent;
  width: 150%;
}
/* About Us */
p:first-child:first-letter {
  float: left;
  font: 260px 'Allura';
  line-height: 1; /* 1 */
  margin-right: -1000px; /* 2 */
  margin-left: -85px; /* 3 */
  margin-top: -110px; /* 3 */
  color: crimson;
}
blockquote {
  
  
  margin: 100px 0;    
  font: 22px/1.8 'Arial';
  hyphens: auto;
  text-align: justify;
  flex-shrink: 0;
}
.about-cof__sect--wrapper{

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 124px;
}

.about-cof--wrapper{
  width: 44%;
}

.about-cof__image--wrapper{
  border-radius: 5%;
}
/* Hookah */
#hookah{
  height: 76vh;
  position: relative;
  font-size: 26px;

  .section__title--wrapper{
    padding-bottom: 46px ;
  
  }
}
.hookah__menu--prices,
.hookah__menu--flavors{
  padding:10px;

}
.hookah__menu--prices{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 62px 0 34px 0;
}
.hookah__menu--wrapper{
  border-bottom: gray;
  border-radius: 5px;
  overflow: hidden;
  width: 60%;
  ;
}
.hookah__menu__inner--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  line-height: 26px;
  border-bottom: .05px solid rgba(197, 196, 196, 0.532);
}
.hookah__menu__top{
  height: 4px;
  background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}
.hookah__menu-title--flavor{
  display: flex;
  padding: 20px 0 0 22px;
}
.hookah__menu--flavors{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 24px 12px 0 12px;
  
}
.hookah__menu--flavor{
  width: calc(100% /4);
  overflow-wrap: normal;
}
.v-divider{
  display:inline-block;
  margin-top:10px; margin-left:10px; width:100px; 
  position:relative; 
}
.v-divider .shadow { 
  overflow:hidden; width:20px; height:20px; 
}

.v-divider .shadow:after { 
  content:''; 
  display: block;
  margin-left:-20px;
  width:20px; 
  height:100%;  
  border-radius:12px / 125px;  
  box-shadow:0 0 8px rgb(234, 43, 42);
}
  

.h-divider {
  margin: auto;
  margin-top: 30px;
  width: 120%;
  position: relative;
}

.h-divider .shadow {
  overflow: hidden;
  height: 20px;
}

.h-divider .shadow:after {
  content: '';
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px/12px;
  box-shadow: 0 0 8px rgb(234, 43, 42);
}

.hookah__img--wrapper{
  position: absolute;
  top: 20%;
  left: 4%;
}

/* Contact Us */

.contact-us,.contact-hours{
  height:  86vh;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  width: 100%;

}

.contact-us{
  padding: 72px 0 196px 0;

}
.contact-hours{
  padding: 72px 0 16px 0;

}
.connect__email--wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  
}
.email__tag--para
,.parties-password--wrapper,.hours--wrapper,.fees--wrapper{
  font-size: 24px;
}
.email__input--wrapper , .hours-fees--wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.connect__map--wrapper{
  width: 100%;
}
#contact__form{
  width: 60%;
}

.input{
  border: none;
  border-bottom:2px solid  rgb(234, 43, 42);
  background-color: #2a2a2a;
  line-height: 36px;
  width: 100%;
}

.contact-hours{
  flex-direction: column;
}

.hours-fees--wrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 5;
}
.fees--wrapper,
.hours--wrapper,
.parties-password--wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.parties-password--wrapper{
  flex:2;
  display: flex;
  justify-content: space-evenly;
}
.title{
  padding-bottom: 48px;
  font-size: 44px;
}

.btn__primary {
  background-color: transparent;
  padding: 6px 14px;
  border: 2px solid rgb(245, 245, 245);
  border-radius: 2px;

}

.btn__primary:hover {
  background-image: radial-gradient(rgb(245, 187, 187), rgb(235, 82, 82));
  border-color:rgb(234, 43, 42);
  box-shadow: 0 0 10px rgb(235, 82, 82);
}
/* Map */
.gmp-map {
  height: 100%;
}
/* Order Now */
.row-sm{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 86vhz;
  width: 100%;
  max-width: 1200px;
}
/* Footer */
.footer--wrapper{
  color: aliceblue;
  font-family: 'Arial' , sans-serif;
  height: 34vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2%;
  padding-bottom: 2%;
  background-color: #2a2a2a;
  border-radius: -25px;
  
}

.footer__logo--image{
  height: 100%;
}
.footer__logo--wrapper{
  opacity: 7%;
  
  display: flex;
  width: 100%;
  height: 34vh;
  position: absolute;
 
}


.footer__list--wrapper{
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;

}

.social__list--links{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-family: 'Arial' ,sans-serif;
  color: rgb(245, 245, 245);
  padding: 50px;

}
.social__list--link{
  margin: 0 22px;
  position: relative;

}  

.ig__howver:hover {
  
  background: -webkit-linear-gradient(#f9ce34 ,#ee2a7b  ,#6228d7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    .icon{
      background-image: radial-gradient(#f9ce34,#ee2a7b, #6228d7); 
      /* color: #ee2a7b; */
      /* background-clip: text;
      background-image: linear-gradient(#eee, #1877F2); */
  }
}
.fb__howver:hover {
  background: -webkit-linear-gradient(#eee, #1877F2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    .icon{

      background-image: radial-gradient(blue, #1877f2 ); 
    }
  
}

.contact__list--links{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 36px;
  font-family: 'Arial' ,sans-serif;
  color: rgb(245, 245, 245);
  padding-bottom: 50px;


}
.contact__list--link{
  padding-bottom: 3%;
  position: relative;

}  


.gor_copywrite{
  display: flex;
  align-items: center;
  color: #767676;
  position: relative;

}
.gor_copywrite:hover{
  cursor: pointer;
  transition: all 300ms ease;
  transform: scale(1.1);
  background: -webkit-linear-gradient(#767676, lightblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
